*{
    padding: 0;
    margin: 0;
}
.mainContainer{
    /* border: 1px solid darkblue; */
    padding-bottom: 40px;
}
.outerContainer{
    /* border: 1px solid firebrick; */
    margin-top: 10px;
    margin: 0px 50px;
}

.innerContainer{
    /* border: 1px solid forestgreen; */
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top:10px ;
  
}
.logo img{
    height: 120px;
    width: 240px;
   
}
.Button{
    display: flex;
    gap: 20px;
    align-items: center;

}

@media (max-width: 1000px) {

    .mainContainer{
        /* border: 1px solid darkblue; */
        padding-bottom: 60px;
    }
   
    .outerContainer{
        margin: 0px 20px;
    }

    .Button{
        display:none;

    
    }
   
}

